@model IT_Inventory.ViewModels.PeopleIndexViewModel

@{
    ViewBag.Title = "Сотрудники";
}

<h2>@ViewBag.Title </h2>

@if (Model.IsRefreshed)
{
    <h3>Список сотрудников синхронизирован с Active Directory!</h3>
}
<hr />
<h3>Департамент ИТ:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.People.First().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().AccountName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.People.Where(i => i.IsItUser))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.ActionLink("История (выдано)", "Index", "Histories", new { peopleId = item.Id }, null)
            </td>
        </tr>
    }
</table>
<hr />
<h3>Остальные сотрудники (Санкт-Петербург):</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.People.First().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().AccountName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.People.Where(i => !i.IsItUser))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.ActionLink("История (выдано)", "Index", "Histories", new { peopleId = item.Id }, null)
            </td>
        </tr>
    }
</table>