@model IT_Inventory.ViewModels.PeopleIndexViewModel

@{
    ViewBag.Title = "Сотрудники";
}

<table width="100%">
    <tr>
        <td>
            <h2>@ViewBag.Title</h2>
        </td>
        <td align="right">
            <h2></h2>
            @Html.ActionLink("Департаменты", "Index", "Departments", null, new { @class = "btn btn-success" })
        </td>
    </tr>
</table>

<ul class="pagination">
    @foreach (var firstLetter in Model.FirstLetters)
    {
        <li class="@(Model.Letter == firstLetter.ToString() ? "active" : "")">
            @Html.ActionLink(firstLetter.ToString(), "Index", new { letter = firstLetter.ToString() })
        </li>
    }
</ul>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().Dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.First().PhoneNumber)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    @foreach (var item in Model.People)
    {
        <tr style="@(item.NonExisting ? "color:LightGray" : "")"  >

            <td style="vertical-align:middle;">
                    <a href='@Url.Action("Details", new {id = item.Id})' style="text-decoration: none">
                        <img height="64px" width="64px" src="@Url.Action("GetPicture", new {id = item.Id})" />
                    </a>
            </td>

            <td style="vertical-align:middle;" white-space: nowrap>
                @if (item.NonExisting)
                {
                    @Html.DisplayFor(modelItem => item.FullName)
                    <text> (уволен)</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.FullName)
                }
            </td>

            <td style="vertical-align:middle;">
                <a href='@Url.Action("Details", "Departments", new { id = item.Dep.Id })'>
                    @item.DepartmentString
                </a>
            </td>

            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td style="vertical-align:middle;">
                <a href="mailto:@item.Email">@item.Email</a>
            </td>

            <td style="vertical-align:middle;">
                <a href="tel:+@item.PhoneNumber">@item.PhoneNumber</a>
            </td>

            <td style="vertical-align:middle;">
                <a href='@Url.Action("Details", new {id = item.Id})' style="text-decoration: none">
                    <i class="material-icons md-48" style="color: black" title="Подробно">&#xE88F</i>
                </a>
            </td>

            <td style="vertical-align:middle;">
                @if (StaticData.CountComputers(item.Id) > 0)
                {
                    <a href='@Url.Action("Index", "Computers", new {personId = item.Id})' style="text-decoration: none">
                        <i class="material-icons md-48" style="color: black" title="Компьютер(ы)">&#xE30C</i>
                    </a>
                }
            </td>

            <td style="vertical-align:middle;">
                @if (StaticData.CountUserGrant(item.Id) > 0)
                {
                    <a href='@Url.Action("Index", "Histories", new {peopleId = item.Id})' style="text-decoration: none">
                        <i class="material-icons md-48" style="color: black" title="Выданное оборудование (история)">&#xE8CC</i>
                    </a>
                }
            </td>

            <td style="vertical-align:middle;">
                @if (item.SupportRequests.Count > 0)
                {
                    <a href='@Url.Action("Index", "Support", new {searchUserId = item.Id})' style="text-decoration: none">
                        <i class="material-icons md-48" style="color: black" title="Заявки в техподдержку">&#xE85A</i>
                    </a>
                }
            </td>

            <td style="vertical-align:middle;">
                <a href='@Url.Action("Delete", new {id = item.Id})' style="text-decoration: none">
                    <i class="material-icons md-48" style="color:black" title="Удалить">&#xE92B</i>
                </a>
            </td>
        </tr>
    }
</table>

<!-- pager -->
    @if (Model.Pager != null && Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink("Первая", "Index", new { letter = Model.Letter, page = 1 })
                </li>
                <li>
                    @Html.ActionLink("Предыдущая", "Index", new { letter = Model.Letter, page = Model.Pager.CurrentPage - 1 })
                </li>
            }

            @for (var pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
            {
                <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(pageNum.ToString(), "Index", new { letter = Model.Letter, page = pageNum })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink("Следующая", "Index", new { letter = Model.Letter, page = Model.Pager.CurrentPage + 1 })
                </li>
                <li>
                    @Html.ActionLink("Последняя", "Index", new { letter = Model.Letter, page = Model.Pager.TotalPages })
                </li>
            }
        </ul>
    }