@model  IEnumerable<IT_Inventory.ViewModels.ComputerHistoryViewModel>

@{
    ViewBag.Title = "История зафиксированных изменений";
}

<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(ViewBag.CompName))
{
    <h3>@ViewBag.CompName</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().UpdateDate)
        </th>
        <th white-space: nowrap>
            @Html.DisplayNameFor(model => model.First().Changes)
        </th>
        @if (string.IsNullOrEmpty(ViewBag.CompName))
        {
            <th>
                @Html.DisplayNameFor(model => model.First().ComputerName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.First().OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Cpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hdd)
        </th>
        <th white-space: nowrap>
            @Html.DisplayNameFor(model => model.First().MotherBoard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().VideoAdapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Monitor)
        </th>

        <th>
        </th>

    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changes)
        </td>
        @if (string.IsNullOrEmpty(ViewBag.CompName))
        {
            <td white-space: nowrap>
                @Html.DisplayFor(modelItem => item.ComputerName)
            </td>
        }
        <td white-space: nowrap>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram) ГБ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherBoard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoAdapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monitor)
        </td>

        <td white-space: nowrap>
            <a href='@Url.Action("HistoryDetails", new { id = item.Id })' style="text-decoration: none">
                <img src='@Url.Content("~/Content/icons/ic_info_outline_black_24dp_1x.png")' alt="Подробно" title="Подробно"/>
            </a>

            @if (item.CompId != 0 && string.IsNullOrEmpty(ViewBag.CompName))
            {
                <a href='@Url.Action("HistoryIndex", new {id = item.CompId})' style="text-decoration: none">
                    <img src='@Url.Content("~/Content/icons/ic_history_black_24dp_1x.png")' alt="История зафиксированных изменений" title="История зафиксированных изменений"/>
                </a>
            }

        </td>

    </tr>
}
</table>