@{
    ViewBag.Title = "Журнал заявок";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.SearchUserId == null && ViewBag.SearchCompId == null)
{
    <p>
        @Html.ActionLink("Создать заявку", "Create", null, new {@class = "btn btn-primary"})
        @Html.ActionLink("Все заявки", "Index", null, ViewBag.State == null ? new {@class = "btn btn-default"} : new {@class = "btn btn-info"})
        @Html.ActionLink("Новые", "Index", new {state = 0}, ViewBag.State == 0 ? new {@class = "btn btn-default"} : new {@class = "btn btn-danger"})
        @Html.ActionLink("В работе", "Index", new {state = 1}, ViewBag.State == 1 ? new {@class = "btn btn-default"} : new {@class = "btn btn-warning"})
        @Html.ActionLink("Завершенные", "Index", new {state = 2}, ViewBag.State == 2 ? new {@class = "btn btn-default"} : new {@class = "btn btn-success"})
    </p>
}

<div id="table"></div>
<script type="text/javascript">
	$.ajax({
				url: '@Url.Action("Index", "Support", new { state = ViewBag.State, searchUserId = ViewBag.SearchUserId, searchCompId = ViewBag.SearchCompId, page = ViewBag.Page })',
				contentType: 'application/html; charset=utf-8',
				type: 'GET',
				dataType: 'html',
				cache: true
			})
			.done(function(result) {
				$('#table').html(result);
				setInterval(function() {
					$("#table").load('@Url.Action("Index", "Support", new { state = ViewBag.State, searchUserId = ViewBag.SearchUserId, searchCompId = ViewBag.SearchCompId, page = ViewBag.Page })');
				}, 30000);
			});
</script>
