@model IT_Inventory.Models.Item

@{
    ViewBag.Title = "Подробно";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinQuantity)
        </dd>

        @foreach (var attribute in Model.AttributeValues)
        {
            <dt>
                @Html.DisplayName(attribute.Attribute.Name)
            </dt>
            if (attribute.Attribute.Id == 2)
            {
                <dd style="background-color: @attribute.Value; width: 100px"></dd>
            }
            if (attribute.Attribute.Id == 10)
            {
                <dd>
                    @Html.ActionLink(attribute.Value, "GoToSite", new { url = attribute.Value }, new { target = "_blank" })
                </dd>
            }
            else
            {
                <dd>
                    @attribute.Value
                </dd>
            }
        }
        @if (!string.IsNullOrEmpty(ViewBag.PrinterCount))
        {
            <dt>
                Принтеры (@ViewBag.PrinterCount)
            </dt>
            <dd>
                @foreach (var printer in StaticData.GetPrinters(Model.Id))
                {
                    @Html.ActionLink(printer.Name, "Details", "Printers", new { id = printer.Id }, null)
                    <br />
                }
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Выдать", "Grant", new { id = Model.Id }, new { @class = "btn btn-default btn-lg" })
</p>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", null, null, null, new { href = Request.UrlReferrer })
</p>
