@model IEnumerable<IT_Inventory.Models.Item>

@{
    ViewBag.Title = ViewBag.TypeName;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Всё оборудование", "Index", null, new { @class = "btn btn-primary btn-lg", href = "/Items/Index" })
    @Html.ActionLink("Добавить " + (ViewBag.TypeName as string)?.ToLower(), "Create", new {id = (int) ViewBag.TypeId}, new {@class = "btn btn-default btn-lg"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        @if ((int) ViewBag.TypeId == 11)
        {
            <th>
                Принтеры
            </th>
        }
        @if (Model.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.FirstOrDefault().ItemType.Attributes)
            {
                <th>
                    @Html.DisplayName(attribute.Name)
                </th>
            }
        }

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr style="@(item.Quantity <= item.MinQuantity ? "color:red" : "")">
        <td>
            @item.Name
        </td>
        <td>
            @item.Quantity
        </td>
        @if ((int)ViewBag.TypeId == 11)
        {
            <td>
                @StaticData.CountPrinters(item.Id).ToString()
            </td>
        }

        @if (Model.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.FirstOrDefault().ItemType.Attributes
                .Where(attribute => item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute) != null))
            {
                if (!string.IsNullOrEmpty(item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value))
                {
                    if (attribute.Id == 2)
                    {
                    @*<td style="background-color:@item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value">
                    </td>*@
                        <td>
                            <font color=@item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value>&#11044</font>
                        </td>
                    }
                    else if (attribute.Id == 10)
                    {
                        <td>
                            @Html.ActionLink("Описание", "GoToSite", new {url = @item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value}, new {target = "_blank"})
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value
                        </td>
                    }
                }
                else
                {
                    <td></td>
                }
            }
        }
        <td style="color:black">
            @Html.ActionLink("Выдать", "Grant", new { id = item.Id }) |
            @Html.ActionLink("Принять", "Recieve", new { id = item.Id }) |
            @Html.ActionLink("История", "Index", "Histories", new { id = item.Id }, null) |
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Подробно", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
