@model IT_Inventory.ViewModels.ItemIndexViewModel

@{
    ViewBag.Title = "Командировочные ноутбуки";
}

<table width="100%">
    <tr>
        <td>
            <h2>@ViewBag.Title</h2>
        </td>
        <td align="right">
            <h2></h2>
            @Html.ActionLink("Всё оборудование", "Index", null, new { @class = "btn btn-primary", href = "/Items/Index" })
            @Html.ActionLink("Добавить командировочный ноутбук", "Create", new { id = 8 }, new { @class = "btn btn-success" })

            @foreach (var office in StaticData.GetOffices(true))
            {
                @Html.ActionLink(office.Name, "Index", new { id = 8, officeId = office.Id }, office.Id == Model.OfficeId 
                    ? new { @class = "btn btn-warning" } 
                    : new { @class = "btn btn-default" })
                <text>&nbsp;</text>
            }
        </td>
    </tr>
</table>

<ul class="pagination">
    @foreach (var type in StaticData.GetTypes())
    {
        <li class="@(type.Id == 8 ? "active" : "")">
            @(Model.OfficeId != 0
                    ? Html.ActionLink(type.Name, "Index", new { id = type.Id, officeId = Model.OfficeId }, type.Id != 8 ? new { Style = "color:black" } : null)
                    : Html.ActionLink(type.Name, "Index", new { id = type.Id }, type.Id != 8 ? new { Style = "color:black" } : null))
        </li>
    }
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Name)
        </th>
        <th>
            
        </th>
        <th>
            Кому был выдан
        </th>
        <th>
            ОС
        </th>
        @if (Model.Items.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.Items.FirstOrDefault().ItemType.Attributes.Where(a => a.Id != 14))
            {
                <th>
                    @Html.DisplayName(attribute.Name)
                </th>
            }
        }
        @if (Model.OfficeId == 0)
        {
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Location)
            </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr style="@(item.Quantity == 0 ? "color:red" : "")">
        <td>
            @item.Name
        </td>
        <td>
            @if (item.Quantity > 0)
            {
                <input type="checkbox" checked="checked" onclick="return false;" />
            }
        </td>

        <td white-space: nowrap>
            @if (item.Quantity == 0 && item.Histories.Any(h => !h.Recieved))
            {
                @item.Histories.Where(h => !h.Recieved).OrderByDescending(h => h.Date).FirstOrDefault().WhoTook.ShortName
            }
            else
            {
                @StaticData.LastOwnerShortName(item.Id)
            }
        </td>

        <td>
            @if (item.AttributeValues.FirstOrDefault(a => a.Attribute.Id == 14) != null)
            {
                @item.AttributeValues.FirstOrDefault(a => a.Attribute.Id == 14).Value
            }
        </td>

        @if (Model.Items.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.Items.FirstOrDefault().ItemType.Attributes.Where(a => a.Id != 14))
            {
                <td white-space: nowrap>
                    @if (item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute) != null)
                    {
                        @item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value
                    }
                </td>
            }
        }

        @if (Model.OfficeId == 0)
        {
            <td>
                @if (item.Location == null)
                {
                    <text>Железноводская</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Location.Name)
                }
            </td>
        }

        <td style="color:black" white-space: nowrap align="right">
            @if (item.Quantity != 0)
            {
                <a href='@Url.Action("Grant", new { id = item.Id })' style="text-decoration:none">
                    <i class="material-icons md-48" style="color:black" title="Выдать">&#xE15D</i>
                </a>
            }
            else
            {
                <a href='@Url.Action("RecieveOneNotebook", new { id = item.Id })' style="text-decoration:none">
                    <i class="material-icons md-48" style="color:black" title="Вернуть">&#xE148</i>
                </a>
            }

            <a href='@Url.Action("Index", "Histories", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="История">&#xE889</i>
            </a>

            @if (item.Quantity > 0)
                {
                <a href='@Url.Action("Transfer", new {id = item.Id})' style="text-decoration: none">
                    <i class="material-icons md-48" style="color:black" title="Переместить на другой склад">&#xE915</i>
                </a>
            }

            <a href='@Url.Action("Edit", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Редактировать">&#xE3C9</i>
            </a>

            <a href='@Url.Action("Delete", new { id = item.Id })' style="text-decoration:none">
                <i class="material-icons md-48" style="color:black" title="Удалить">&#xE92B</i>
            </a>
        </td>
    </tr>
}
</table>
