@model IT_Inventory.ViewModels.ItemIndexViewModel

@{
    ViewBag.Title = Model.Type.Name;
}

<table width="100%">
    <tr>
        <td>
            <h2>@ViewBag.Title</h2>
        </td>
        <td align="right">
            <h2></h2>
            @Html.ActionLink("Всё оборудование", "Index", null, new { @class = "btn btn-primary", href = "/Items/Index" })
            @Html.ActionLink("Добавить " + Model.Type.Name.ToLower(), "Create", new { id = Model.Type.Id }, new { @class = "btn btn-success" })

            @foreach (var office in StaticData.GetOffices(true))
            {
                @Html.ActionLink(office.Name, "Index", new { id = Model.Type.Id, officeId = office.Id }, office.Id == Model.OfficeId ? new { @class = "btn btn-warning" } : new { @class = "btn btn-default" })
                <text>&nbsp;</text>
            }
        </td>
    </tr>
</table>

<ul class="pagination">
    @foreach (var type in StaticData.GetTypes())
    {
        <li class="@(Model.Type.Id == type.Id ? "active" : "")">
            @(Model.OfficeId != 0
                    ? Html.ActionLink(type.Name, "Index", new { id = type.Id, officeId = Model.OfficeId }, Model.Type.Id != type.Id ? new { Style = "color:black" } : null)
                    : Html.ActionLink(type.Name, "Index", new { id = type.Id }, Model.Type.Id != type.Id ? new { Style = "color:black" } : null))
        </li>
    }
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Quantity)
        </th>
        @if (Model.Type.Id == 11)
        {
            <th>
                Принтеры
            </th>
        }
        @if (Model.Items.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.Items.FirstOrDefault().ItemType.Attributes)
            {
                <th>
                    @Html.DisplayName(attribute.Name)
                </th>
            }
        }
        @if (Model.OfficeId == 0)
        {
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Location)
            </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model.Items)
{
    <tr style="@(item.Quantity <= item.MinQuantity && (item.Location == null || item.Location.Id == 1) ? "color:red" : "")">
        <td>
            @item.Name
        </td>
        <td>
            @item.Quantity
        </td>
        @if (Model.Type.Id == 11)
        {
            <td>
                @StaticData.CountCartridgePrinters(item.Id).ToString()
            </td>
        }

        @if (Model.Items.FirstOrDefault() != null)
        {
            foreach (var attribute in Model.Items.FirstOrDefault().ItemType.Attributes
                .Where(attribute => item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute) != null))
            {
                if (!string.IsNullOrEmpty(item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value))
                {
                    if (attribute.Id == 2)
                    {
                        <td>
                            <font size="4" color=@item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value>&#11044</font>
                        </td>
                    }
                    else if (attribute.Id == 10)
                    {
                        <td>
                            <a href='@Url.Action("GoToSite", new {url = @item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value})' style="text-decoration:none" target="_blank">
                                <i class="material-icons md-48" style="color:black" title="Описание">language</i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.AttributeValues.FirstOrDefault(a => a.Attribute == attribute).Value
                        </td>
                    }
                }
                else
                {
                    <td></td>
                }
            }
            if (Model.OfficeId == 0)
             {
                 <td>
                     @if (item.Location == null)
                     {
                         <text>Железноводская</text>
                     }
                     else
                     {
                         @Html.DisplayFor(modelItem => item.Location.Name)
                     }
                 </td>
             }
        }
        <td style="color:black" white-space: nowrap align="right">
            @if (item.Quantity > 0)
            {
                <a href='@Url.Action("Grant", new { id = item.Id })' style="text-decoration:none">
                    <i class="material-icons md-48" style="color:black" title="Выдать">remove_circle_outline</i>
                </a>
            }

            <a href='@Url.Action("Recieve", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Принять">add_circle_outline</i>
            </a>

            <a href='@Url.Action("Index", "Histories", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="История (приход/расход)">history</i>
            </a>

            @if (item.Quantity > 0)
                {
                <a href='@Url.Action("Transfer", new {id = item.Id})' style="text-decoration: none">
                    <i class="material-icons md-48" style="color:black" title="Переместить на другой склад">compare_arrows</i>
                </a>
            }

            <a href='@Url.Action("Edit", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Редактировать">edit</i>
            </a>

            <a href='@Url.Action("Details", new {id = item.Id})' style="text-decoration: none">
                <i class="material-icons md-48" style="color: black" title="Подробно">info_outline</i>
            </a>

            <a href='@Url.Action("Delete", new { id = item.Id })' style="text-decoration:none">
                <i class="material-icons md-48" style="color:black" title="Удалить">delete_forever</i>
            </a>
        </td>
    </tr>
}
</table>
