@model IEnumerable<IT_Inventory.Models.Department>

@{
    ViewBag.Title = "Департаменты";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office.Name)
        </td>

        <td>
            <a href='@Url.Action("Edit", new { id = item.Id })' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Редактировать">&#xE3C9</i>
            </a>

            <a href='@Url.Action("Details", new { id = item.Id })' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Подробно">&#xE88F</i>
            </a>

            <a href='@Url.Action("Delete", new { id = item.Id })' style="text-decoration:none">
                <i class="material-icons md-48" style="color:black" title="Удалить">&#xE92B</i>
            </a>
        </td>
    </tr>
}
</table>
