@model IEnumerable<IT_Inventory.ViewModels.ReportViewModel>

@{
    ViewBag.Title = "Отчеты о конфигурации";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Имя компьютера
        </th>
        <th>
            Имя пользователя
        </th>
        <th>
            Дата отчета
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDateString)
        </td>

        <td>
            <a href='@Url.Action("Details", new { compName = item.CompName })' style="text-decoration: none">
                <i class="material-icons md-48" style="color:black" title="Подробный отчет о конфигурации">&#xE241</i>
            </a>

        </td>
    </tr>
}

</table>
