@model IT_Inventory.Models.History

@{
    ViewBag.Title = "Удалить";
}

<h2>@ViewBag.Title</h2>

<h3>Действительно удалить эту запись из истории?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dt>
            @Html.DisplayNameFor(model => model.Recieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", null, null, null, new { href = Request.UrlReferrer })
        </div>
    }
</div>
