@model IEnumerable<IT_Inventory.Models.History>

@{
    ViewBag.Title = "История прихода";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <a href='@Url.Action("Delete", new { id = item.Id })' style="text-decoration:none">
                <i class="material-icons md-48" style="color:black" title="Удалить">delete_forever</i>
            </a>
        </td>
    </tr>
}
</table>
